<div class="getContainer">
	<form id="getFormulaire">
		<label> Id du visage </label>
		<input id="inputFace" name="Id" type="number"/>
		<button id="display-button" type="submit" class="btn btn-success" >VALIDER</button>
	</form>
</div>
