
<form asp-action="Create">
	<input name="Id" hidden/>
	<label> Nom du visage</label>
	<input name="Name" id="name" for="Name"/>
	<label> Dessiner le visage ici </label>
	<textarea name="Content" rows="20" cols="20" id="content" style="resize: none"></textarea>
	<button class="btn-primary" type="submit"> VALIDER </button>
</form>

		